body {
  background: #d3d3d3;
}

a {
  color: #00B7FF;
}

#app {
  height: 100%;
  width: 100%;
}

.card {
  background: white;
  height: 20em;
  width: 15em;
  position: relative;
  display: inline-block;
  margin: 25px;
  border-radius: 5px;
  padding: 35px 25px;
  box-shadow: 2px 2px 2px #888888;
}

.card.display {
  display: block;
}

.card-text {
  margin: 0 auto;
  font-size: 1.8em;
}

.card-btn {
  position: absolute;
  bottom: 20px;
  /*border: 2px solid black;*/
  color: black;
  background: white;
  /*border-radius: 5px;*/
  /*margin: 0 auto;*/
  font-size: 18px;
}

.card.black {
  background: black;
  color: white;
}

.card.black .card-text {
  color: white;
}

.card.black .card-btn {
  color: white !important;
  background: black;
}

#addGameForm {
  display: none;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}