<!DOCTYPE html>
<html>
<head>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>

<div id="app">
  <!-- this is the login view -->
  <div v-if="screen === 'login'">
  <div class="row">
    <div class="one-half column">
      <div class="card black">
        <div class="card-text"><%= title %></div>
      </div>
    </div>
    <div class="one-half column">
    <div class="card">
      <div class="card-text">
        Pick a Username:
      <input v-model="username" v-on:keyup.enter="setClient" type="text" id="clientLoginInput" required=""></input>
      </div>
      <button class="card-btn" v-on:click="setClient">SIGN IN</button></p>
    </div>
    </div>
  </div>
  </div>
  <!-- this is the pick a game view -->
  <div v-else-if="screen === 'pickGame'">
  <div class="row">
    <div class="one-half column">
      <div class="card display black">
        <div class="card-text">
        <p>Hello {{this.username}} please choose a game or create one below:</p>
          <!-- <div id="addGameForm" :class="{visible: showAddGameForm}"> -->
            <input v-model="newGameName" v-on:keyup.enter="createGame" placeholder="PICK A NAME:" type="text" id="newGameName" required=""></input>
          <!-- </div> -->
      </div>
      <!-- <button @click="showGameForm" :class="{hidden: showAddGameForm}" class="card-btn">Add a Game</button> -->
     <button type="submit" class="card-btn" v-on:click="createGame">ADD GAME</button>


      </div>
    </div>
    <div class="one-half column">
       <!-- <transition-group
            v-on:before-enter="beforeEnter"
            v-on:enter="enter"
            :css="false">
          > -->
          <flickity ref="flickity" :options="flickityOptions">
            <card :key="0"
              v-for="(gameItem, index) in availableGames" :key="gameItem.id"
              v-bind:card-text="gameItem.name"
              btn-text="Choose"
              btn-action="chooseGame"
              v-bind:btn-data="gameItem.name">
            </card>
          </flickity>
        <!-- </transition-group> -->
    </div>
    </div>
  </div>

  <div v-else>
    <p> This is the game view </p>
  </div>

</div>



<script src="/build/build.js"></script>
</body>
</html>
